html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Jost", sans-serif;
}

body {
  background-color: darksalmon;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
}

.cardbody {
  background-color: white;
  height: 650px;
  width: 700px;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 50px -15px #383838;
          box-shadow: 0px 0px 50px -15px #383838;
  position: relative;
}

.firstpart {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 250px;
}

.firstpart .personalpic {
  max-width: 175px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 50px -10px #383838;
          box-shadow: 0px 0px 50px -10px #383838;
  margin: auto;
}

.firstpart .personalinfo {
  margin: auto;
  margin-left: 40px;
}

.firstpart .personalinfo h1 {
  font-size: 40px;
}

.firstpart .personalinfo h1,
.firstpart .personalinfo h3 {
  font-weight: 600;
  color: #5e5e5e;
}

.firstpart .personalinfo h3 {
  border-bottom: 3px solid #383838;
}

.bottompanel {
  position: absolute;
  bottom: 0px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.bottompanel button {
  border: none;
  cursor: pointer;
  margin: auto;
  width: 100%;
  height: 45px;
  font-size: 25px;
  font-family: "Jost", sans-serif;
  border-radius: 3px;
  color: #5e5e5e;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.bottompanel button:first-child {
  border-right: solid 1px #383838;
  border-top: solid 0.5px #383838;
}

.bottompanel button:last-child {
  border-left: solid 1px #383838;
  border-top: solid 0.5px #383838;
}

.bottompanel button:hover {
  color: #242424;
  background-color: #c9c9c9;
}

.bottompanel .active {
  text-decoration: underline;
}

.contactpanel {
  font-size: 35px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 75px;
}

.contactpanel .links {
  border-bottom: 1px solid black;
  width: 300px;
  margin: auto;
}

.contactpanel h5 {
  color: #5e5e5e;
}

.contactpanel i {
  color: #5e5e5e;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contactpanel i:hover {
  color: #242424;
}

.aboutpart {
  text-align: center;
  margin: 25px 70px;
  color: #5e5e5e;
}

.cardinterests {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.cardinterests .interests {
  margin: auto;
}

.cardinterests h1 {
  font-size: 40px;
}

.cardinterests p {
  font-size: 25px;
}

.cardinterests h1,
.cardinterests p {
  color: #5e5e5e;
  margin: 20px;
}

@media screen and (max-width: 1000px) {
  .cardbody {
    max-width: 600px;
    max-height: 600px;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 15px !important;
  }
  i {
    font-size: 25px;
  }
  .links {
    max-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .cardbody {
    width: 95%;
    min-height: 95vh !important;
  }
  .firstpart {
    all: unset;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstpart .personalpic {
    margin-top: 10px;
  }
  .firstpart .personalinfo {
    all: unset;
  }
  .aboutpart {
    margin: 20px;
    margin-top: 35px;
  }
  .contactpanel h5 {
    font-size: 30px;
    margin-bottom: -15px;
  }
}
/*# sourceMappingURL=styles.css.map */